body{
    text-align: center;
    width: 97%;
    height: 97vh;
    background-color: skyblue;
    background-image: url(img.png);
    background-size: cover;
    font-family: "DynaPuff", system-ui;
    letter-spacing: 1.5px;
    line-height: 1.2;
}
#main,#result{
    width: 70%;
    margin: auto;
    text-align: center;
    position: relative;
    top: 10rem;

}
input{
    height: 25px;
    width: 40%;
    border-radius: 20px;
    border:solid 2px black;
}
@media (max-width:560px) {
    input{
        width: 80%;
        
}
}